[submodule "cfs/cfe"]
	path = cfs/cfe
	url = https://github.com/nasa/cFE.git
[submodule "cfs/osal"]
	path = cfs/osal
	url = https://github.com/nasa/OSAL.git
[submodule "cfs/psp"]
	path = cfs/psp
	url = https://github.com/nasa/PSP.git
[submodule "cfs/apps/ci_lab"]
	path = cfs/apps/ci_lab
	url = https://github.com/nasa/ci_lab.git
[submodule "cfs/apps/to_lab"]
	path = cfs/apps/to_lab
	url = https://github.com/nasa/to_lab.git
[submodule "cfs/apps/sch_lab"]
	path = cfs/apps/sch_lab
	url = https://github.com/nasa/sch_lab.git
[submodule "cfs/tools/elf2cfetbl"]
	path = cfs/tools/elf2cfetbl
	url = https://github.com/nasa/elf2cfetbl.git
[submodule "cfs/tools/tblCRCTool"]
	path = cfs/tools/tblCRCTool
	url = https://github.com/nasa/tblCRCTool.git
[submodule "cfs/tools/eds"]
	path = cfs/tools/eds
	url = https://github.com/nasa/Edslib.git
